/.bashrc
/.cache
/.config
/.gitconfig
/.gradio
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.vimrc
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/main.py
/.condarc
/.cursor-server
/.hushlogin
/.jupyter
/.local
/.nvm
/.oh-my-zsh
/.profile
/.docker
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.windsurf-server